<div class="row">
  <div class="col-2">
    <a class="w-75 btn btn-block btn-outline-light btn-sm" [routerLink]="['/employees/' + current]">
      <i class="fas fa-chevron-left"></i> Regresar
    </a>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h4 class="text-center text-light">Nuevo empleado</h4>
  </div>
</div>

<form [formGroup]="form" (submit)="save()">
  <div class="row">
    <div class="col-sm-3">
      <h5 class="text-center text-muted">Vista previa de tarjeta</h5>
      <div class="text-center text-light border border-secondary rounded p-2">
        <img *ngIf="imgRender" [src]="imgRender" [alt]="form.value.name + ' ' + form.value.lastname"
          class="img-fluid rounded mb-2 portrait">
        <h6>{{ form.value.name }} {{ form.value.lastname }}<br>
          <small *ngIf="rolLabel && dpLabel" class="text-muted">{{ rolLabel }} de {{ dpLabel }}</small>
        </h6>
        <label class="text-primary fs09">{{ form.value.username }}</label><br>

        <a *ngIf="form.value.email" [href]="'mailto:' + form.value.email" class="text-decoration-none text-light fs08">
          <i class="fas fa-envelope"></i>
          {{ form.value.email }}</a><br>
        <a *ngIf="form.value.phone" [href]="'tel:' + form.value.phone" class="text-decoration-none text-light fs08">
          <i class="fas fa-mobile-alt"></i>
          {{ form.value.phone }}</a>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="text-muted">Nombre</label>
            <input type="text" class="form-control form-control-sm bg-dark text-light" formControlName="name"
              placeholder="Nombre(s) del empleado">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="text-muted">Apellidos</label>
            <input type="text" class="form-control form-control-sm bg-dark text-light" formControlName="lastname"
              placeholder="Apellidos(s) del empleado">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="text-muted">Orientación</label>
            <select class="form-control form-control-sm bg-dark text-light" formControlName="gender">
              <option selected disabled value="0">Selecciona una opción</option>
              <option value="1">Hombre</option>
              <option value="2">Mujer</option>
              <option value="3">Prefiero reservarlo</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="text-muted">Correo electrónico</label>
            <input type="email" class="form-control form-control-sm bg-dark text-light" formControlName="email"
              placeholder="Correo electrónico">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="text-muted">Usuario</label>
            <input type="text" class="form-control form-control-sm bg-dark text-light" formControlName="username"
              placeholder="Nombre de usuario">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="text-muted">Teléfono de contacto</label>
            <input type="tel" class="form-control form-control-sm bg-dark text-light" formControlName="phone"
              placeholder="Teléfono (Incluye LADA)" pattern="[0-9]{10}">
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="text-muted">Rol</label>
            <select #r class="form-control form-control-sm bg-dark text-light" formControlName="role"
              (change)="roleLabel( r ); getBosses()">
              <option selected disabled value="0">Selecciona un rol</option>
              <option *ngFor="let rol of roles" [value]="rol._id + rol.hierarchy">{{ rol.name }}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="text-muted">Departamento</label>
            <select #d class="form-control form-control-sm bg-dark text-light" formControlName="area"
              (change)="dptoLabel( d ); getBosses()">
              <option selected disabled value="0">Selecciona un departamento</option>
              <option *ngFor="let dp of dptos" [value]="dp._id">{{ dp.name }}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="text-muted">Jefe inmediato</label>
            <select class="form-control form-control-sm bg-dark text-light" formControlName="boss">
              <option selected disabled value="0">Selecciona un usuario</option>
              <option *ngFor="let boss of bosses" [value]="boss._id">{{ boss.name }} {{ boss.last_name }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-sm-6 offset-sm-3">
          <label class="text-muted">Foto</label>
          <input #i type="file" formControlName="file" class="form-control form-control-sm bg-dark text-light"
            (change)="renderImage( i.files[0] )">
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-sm-6 offset-sm-3">
          <button type="submit" class="btn btn-sm btn-block btn-outline-light">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</form>
