<div class="row">
  <div class="col-2">
    <a class="w-75 btn btn-block btn-outline-light btn-sm" [routerLink]="['/glass-models']">
      <i class="fas fa-chevron-left"></i> Regresar
    </a>
  </div>
</div>
<div class="row">
  <div class="col-6 offset-3">
    <h5 class="text-center text-light">Nuevo modelo</h5>
    <input #f type="text" class="form-control form-control-sm" placeholder="Nombre del modelo">
    <select #s class="form-control form-control-sm my-2">
        <option selected disabled>Selecciona una marca</option>
        <option *ngFor="let brand of brands" [value]="brand._id">{{ brand.name }}</option>
    </select>
    <a class="fs07 text-light text-decoration-none" [routerLink]="[ '/glass-brands']">¿No encuentras la marca? Busca o crea una aquí</a>
    <button class="btn btn-outline-light btn-block btn-sm mt-3" (click)="save( f.value, s.value )">Guardar</button>
  </div>
</div>