<div class="row">
  <div class="col-3">
    <a class="btn btn-block btn-outline-light btn-sm" [routerLink]="['/campaigns/1']">
      <i class="fas fa-chevron-left"></i> Regresar a campañas
    </a>
  </div>
  <div class="col-9">
    <h2 class="text-light text-right">Empresas</h2>
  </div>
</div>

<div class="row my-3">
  <div class="col-sm-4">
    <div class="input-group mb-3">
        <input #i type="text" class="form-control bg-dark text-light border-dark form-control-sm"
        placeholder="Buscar empresa" (keyup)="findCompany( i.value )" (keydown)="clearTime()">
      <div class="input-group-append">
        <span class="input-group-text bg-dark text-light border-dark input-group-sm"> <i class="fas fa-search"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="col-sm-2 offset-sm-6">
    <a class="btn btn-sm btn-outline-light btn-block" [routerLink]="['/companies/new/' + curr]">Nueva empresa</a>
  </div>
</div>


<div *ngIf="companies.length > 0">
  <div class="row my-2">
    <div class="col-sm-3" *ngFor="let company of companies">
      <div class="text-center text-light border-card rounded p-2"
        [ngClass]="{'isActive': company.status == 'active', 'isInactive': company.status == 'inactive'}">
        <a [routerLink]="['/companies/edit/' + company.normalizedToLink + '/' + curr ]">
          <img [src]="'http://18.221.70.54:9000//companies/' + company.photo" [alt]="company.name"
            class="img-fluid rounded mb-2 portrait">
        </a>
        <h6>{{ company.name }}
          <br><small class="text-muted">Gestor {{ company.addedBy.name }} {{ company.addedBy.last_name }}</small>
        </h6>
        <a class="text-decoration-none text-light fs08"><i class="fas fa-user"></i>
          {{ company.contact }}</a><br>
        <a *ngIf="company.email " [href]="'mailto:' + company.email" class="text-decoration-none text-light fs08"><i
            class="fas fa-envelope"></i>
          {{ company.email }}</a><br>
        <a *ngIf="company.phone" [href]="'tel:' + company.phone" class="text-decoration-none text-light fs08"><i
            class="fas fa-mobile-alt"></i>
          {{ company.phone }}</a>
      </div>
    </div>
  </div>
  
  <div class="row mt-5" *ngIf="pages > 1">
    <div class="col-12">
      <ul class="pagination justify-content-center">
        <li class="page-item" *ngFor="let cell of cells">
          <a class="page-link" [ngClass]="{'active-pagination': cell === curr}"
            style="background-color: #343a40; color: #f8f9fa;" [routerLink]="['/companies', cell ]">{{cell}}</a>
        </li>
      </ul>
      <p class="text-center text-light">
        Mostrando
        <span class="font-weight-bold">{{ showing }}</span> de
        <span class="font-weight-bold">{{count}}</span> resultados
      </p>
    </div>
  </div>
</div>
