<div class="row">
  <div class="col-2">
    <a class="w-75 btn btn-block btn-outline-light btn-sm" [routerLink]="['/']">
      <i class="fas fa-chevron-left"></i> Regresar
    </a>
  </div>
</div>

<div *ngIf="user && form">

  <div class="row">
    <div class="col-12">
      <h4 class="text-center text-light">Mi información</h4>
    </div>
  </div>

  <form [formGroup]="form" (submit)="save()">
    <div class="row">
      <div class="col-sm-3">
        <h5 class="text-center text-muted">Vista previa de tarjeta</h5>
        <div class="text-center text-light border-card rounded p-2"
          [ngClass]="{'isActive': form.value.status == 'active', 'isInactive': form.value.status == 'inactive'}">
          <img [src]="imgRender || 'http://localhost:9000/users/' + user.photo"
            [alt]="form.value.name + ' ' + form.value.lastname" class="img-fluid rounded mb-2 portrait">
          <h6>{{ form.value.name }} {{ form.value.lastname }}<br>
            <small class="text-muted">{{ user.role.name }} de {{ user.area.name }}</small>
          </h6>
          <label class="text-primary fs09">{{ form.value.username || user.user_name }}</label><br>

          <a [href]="'mailto:' + user.email" class="text-decoration-none text-light fs08">
            <i class="fas fa-envelope"></i>
            {{ user.email }}</a><br>
          <a [href]="'tel:' + user.phone" class="text-decoration-none text-light fs08">
            <i class="fas fa-mobile-alt"></i>
            {{ user.phone }}</a>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="text-muted">Nombre</label>
              <input type="text" class="form-control form-control-sm bg-dark text-light" formControlName="name"
                placeholder="Nombre(s) del empleado">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="text-muted">Apellidos</label>
              <input type="text" class="form-control form-control-sm bg-dark text-light" formControlName="lastname"
                placeholder="Apellidos(s) del empleado">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="text-muted">Orientación</label>
              <select class="form-control form-control-sm bg-dark text-light" formControlName="gender">
                <option [ngValue]="1">Hombre</option>
                <option [ngValue]="2">Mujer</option>
                <option [ngValue]="3">Prefiero reservarlo</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="text-muted">Correo electrónico</label>
              <input type="email" class="form-control form-control-sm bg-dark text-light" formControlName="email"
                placeholder="Correo electrónico">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="text-muted">Usuario</label>
              <input type="text" class="form-control form-control-sm bg-dark text-light" formControlName="username"
                placeholder="Nombre de usuario">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="text-muted">Teléfono de contacto</label>
              <input type="tel" class="form-control form-control-sm bg-dark text-light" formControlName="phone"
                placeholder="Teléfono (Incluye LADA)" pattern="[0-9]{10}">
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="text-muted">Rol</label>
              <input type="text" class="form-control form-control-sm bg-dark text-light" formControlName="role">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="text-muted">Departamento</label>
              <input type="text" class="form-control form-control-sm bg-dark text-light" formControlName="area">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="text-muted">Jefe inmediato</label>
              <input type="text" class="form-control form-control-sm bg-dark text-light" formControlName="boss">
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-6">
            <label class="text-muted">Foto</label>
            <input #i type="file" formControlName="file" class="form-control form-control-sm bg-dark text-light"
              (change)="renderImage( i.files[0] )">
          </div>
          <div class="col-sm-6">
            <label class="text-muted">Cambiar password</label>
            <input type="password" class="form-control form-control-sm bg-dark text-light" formControlName="password"
              placeholder="Nueva contraseña">
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-10">
            <div id="accordion">
              <div class="card bg-dark">
                <div class="card-header">
                  <a class="card-link text-center text-light" data-toggle="collapse" href="#collapseOne">
                    Ver el historial de cambios
                  </a>
                </div>
                <div id="collapseOne" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                    <ul *ngIf="user.modification.length > 0" class="list-group">
                      <li class="list-group-item fs07 bg-dark text-light"
                        *ngFor="let mod of pagComments[ indexComments ]">
                        El
                        <span class="text-primary">{{ mod.date | date:'medium' }} - {{ mod.user.name }}
                          {{ mod.user.last_name }}</span>
                        modificó:
                        <ul *ngFor="let up of mod.updated" class="list-unstyled">
                          <li class="ml-2">
                            {{ up.field }} de <span class="font-weight-bolder fs08">{{ up.from }}</span> por <span
                              class="font-weight-bolder fs08">{{ up.to }}</span>.
                          </li>
                        </ul>
                      </li>
                    </ul>
                    <div *ngIf="user.modification.length > 0">
                      <a class="pointer btn btn-sm btn-outline-light text-light my-2 mx-1" 
                      (click)="lessComments()">
                        <i class="fas fa-chevron-left"></i>
                      </a>
                      <a class="pointer btn btn-sm btn-outline-light text-light my-2 mx-1" 
                      (click)="plusComments()">
                        <i class="fas fa-chevron-right"></i>
                      </a>
                    </div>
                    <label *ngIf="user.modification.length === 0" class="text-center text-light">Aún no hay
                      modificaciones</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-sm-6 offset-sm-3">
            <button type="submit" class="btn btn-sm btn-block btn-outline-light">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
