html, body {
    background-color: #000 !important;
}

.fs01 { font-size: 0.1rem !important; }
.fs02 { font-size: 0.2rem !important; }
.fs03 { font-size: 0.3rem !important; }
.fs04 { font-size: 0.4rem !important; }
.fs05 { font-size: 0.5rem !important; }
.fs06 { font-size: 0.6rem !important; }
.fs07 { font-size: 0.7rem !important; }
.fs08 { font-size: 0.8rem !important; }
.fs09 { font-size: 0.9rem !important; }
.fs10 { font-size: 1rem !important; }
.fs11 { font-size: 1.1rem !important; }
.fs12 { font-size: 1.2rem !important; }
.fs13 { font-size: 1.3rem !important; }
.fs14 { font-size: 1.4rem !important; }
.fs15 { font-size: 1.5rem !important; }
.fs16 { font-size: 1.6rem !important; }
.fs17 { font-size: 1.7rem !important; }
.fs18 { font-size: 1.8rem !important; }
.fs19 { font-size: 1.9rem !important; }
.fs20 { font-size: 2rem !important; }

.spinner {
    position: relative;
    top: 50%;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    color: #fff;
    transition: all 0.3s;
}

.img100 {
    width: auto;
    height: 250px;
}