<div class="row">
  <div class="col-2">
    <a class="w-75 btn btn-block btn-outline-light btn-sm" [routerLink]="['/employees/' + current ]">
      <i class="fas fa-chevron-left"></i> Regresar
    </a>
  </div>
</div>

<div *ngIf="user">

  <div class="row">
    <div class="col-12">
      <h4 class="text-center text-light">Editando a {{ user.name }} {{ user.last_name }}</h4>
    </div>
  </div>

  <form [formGroup]="form" (submit)="save()">
    <div class="row">
      <div class="col-sm-3">
        <h5 class="text-center text-muted">Vista previa de tarjeta</h5>
        <div class="text-center text-light border-card rounded p-2"
          [ngClass]="{'isActive': form.value.status == 'active', 'isInactive': form.value.status == 'inactive'}">
          <img [src]="imgRender || 'http://localhost:9000/users/' + user.photo"
            [alt]="form.value.name + ' ' + form.value.lastname" class="img-fluid rounded mb-2 portrait">
          <h6>{{ form.value.name }} {{ form.value.lastname }}<br>
            <small class="text-muted">{{ rolLabel || user.role.name }} de {{ dpLabel || user.area.name }}</small>
          </h6>
          <label class="text-primary fs09">{{ form.value.username || user.user_name }}</label><br>

          <a *ngIf="form.value.email" [href]="'mailto:' + form.value.email"
            class="text-decoration-none text-light fs08">
            <i class="fas fa-envelope"></i>
            {{ form.value.email }}</a><br>
          <a *ngIf="form.value.phone" [href]="'tel:' + form.value.phone" class="text-decoration-none text-light fs08">
            <i class="fas fa-mobile-alt"></i>
            {{ form.value.phone }}</a>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="text-muted">Nombre</label>
              <input type="text" class="form-control form-control-sm bg-dark text-light" formControlName="name"
                placeholder="Nombre(s) del empleado">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="text-muted">Apellidos</label>
              <input type="text" class="form-control form-control-sm bg-dark text-light" formControlName="lastname"
                placeholder="Apellidos(s) del empleado">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="text-muted">Orientación</label>
              <select class="form-control form-control-sm bg-dark text-light" formControlName="gender">
                <option [ngValue]="1">Hombre</option>
                <option [ngValue]="2">Mujer</option>
                <option [ngValue]="3">Prefiero reservarlo</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="text-muted">Correo electrónico</label>
              <input type="email" class="form-control form-control-sm bg-dark text-light" formControlName="email"
                placeholder="Correo electrónico">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="text-muted">Usuario</label>
              <input type="text" class="form-control form-control-sm bg-dark text-light" formControlName="username"
                placeholder="Nombre de usuario">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="text-muted">Teléfono de contacto</label>
              <input type="tel" class="form-control form-control-sm bg-dark text-light" formControlName="phone"
                placeholder="Teléfono (Incluye LADA)" pattern="[0-9]{10}">
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="text-muted">Rol</label>
              <select #r class="form-control form-control-sm bg-dark text-light" formControlName="role"
                (change)="roleLabel( r )">
                <option *ngFor="let rol of roles" [ngValue]="rol._id + rol.hierarchy">{{ rol.name }}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="text-muted">Departamento</label>
              <select #d class="form-control form-control-sm bg-dark text-light" formControlName="area"
                (change)="dptoLabel( d )">
                <option *ngFor="let dp of dptos" [ngValue]="dp._id">{{ dp.name }}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="text-muted">Jefe inmediato</label>
              <select class="form-control form-control-sm bg-dark text-light" formControlName="boss">
                <option *ngFor="let boss of bosses" [value]="boss._id">{{ boss.name }} {{ boss.last_name }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-3">
            <label class="text-muted">Foto</label>
            <input #i type="file" formControlName="file" class="form-control form-control-sm bg-dark text-light"
              (change)="renderImage( i.files[0] )">
          </div>
          <div class="col-sm-3">
            <label class="text-muted">Estado</label>
            <select class="form-control form-control-sm bg-dark text-light" formControlName="status">
              <option [ngValue]="'active'">Activo</option>
              <option [ngValue]="'inactive'">Inactivo</option>
            </select>
          </div>

          <ng-container *ngIf="permission.allowed && permission.myProfile then both else change"></ng-container>


          <ng-template #both>
            <div class="col-sm-6">
              <label class="text-muted">Cambiar password</label>
              <input type="password" class="form-control form-control-sm bg-dark text-light" formControlName="password"
                placeholder="Nueva contraseña">
            </div>
            <div class="col-sm-3">
              <label class="text-muted">Restablecer password</label>
              <a class="btn btn-block btn-outline-danger btn-sm text-danger" (click)="resetPassword()">Reiniciar</a>
            </div>
          </ng-template>

          <ng-template #change>
            <div class="col-sm-6">
              <label class="text-muted">Cambiar password</label>
              <input type="password" class="form-control form-control-sm bg-dark text-light" formControlName="password"
                placeholder="Nueva contraseña">
            </div>
          </ng-template>


        </div>

        <div class="row mt-5">
          <div class="col-sm-6 offset-sm-3">
            <button type="submit" class="btn btn-sm btn-block btn-outline-light">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
