<div class="row my-3">
  <div class="col-sm-4">
    <div class="input-group mb-3">
      <input type="text" class="form-control bg-dark text-light border-dark form-control-sm"
        placeholder="Busca armazon">
      <div class="input-group-append">
        <span class="input-group-text bg-dark text-light border-dark input-group-sm"> <i class="fas fa-search"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="col-sm-2">
    <a class="btn btn-sm btn-outline-light btn-block" [routerLink]="['/glass-brands/1']">Nueva Marca</a>
  </div>

  <div class="col-sm-2">
    <a class="btn btn-sm btn-outline-light btn-block" [routerLink]="['/glass-models/1']">Nuevo modelo</a>
  </div>

  <div class="col-sm-2 offset-sm-2">
    <a class="btn btn-sm btn-outline-light btn-block" [routerLink]="['/glasses/new/' + curr]">Nuevo armazón</a>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table table-sm table-hover table-dark table-striped text-center fs08">
      <thead class="fs10">
        <tr>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Color</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let glass of glasses">
          <td>{{ glass.brand.name }}</td>
          <td>{{ glass.model.name }}</td>
          <td>{{ glass.price | currency }}</td>
          <td>{{ glass.left }} / {{ glass.quantity }}</td>
          <td>{{ glass.primaryColor }}
            <span *ngIf="glass.secondaryColor">
              - {{ glass.secondaryColor }}
            </span>
          </td>
          <td>
            <a class="btn btn-sm btn-outline-light mx-1"
              [routerLink]="['/glasses/edit/' + glass.normalizedToLink + '/' + curr ]">
              <i class="fas fa-edit"></i>
            </a>
            <button *ngIf="glass.status === 'inactive'" class="btn btn-sm btn-outline-light mx-1"
              (click)="swapStatus( glass )">
              <i class="fas fa-ban text-danger"></i>
            </button>
            <button *ngIf="glass.status === 'active'" class="btn btn-sm btn-outline-light mx-1"
              (click)="swapStatus( glass )">
              <i class="fas fa-check text-success"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>